* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.clear {
	clear: both;
}

html,
body {
	position: relative;
	height: 100%;
}
.swiper-container {
	width: 1010px;
	height: 510px;
	margin-left: auto;
	margin-right: auto;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.content_cn{
	margin: 0 auto;
	width: 1000px;
}
.content_cn_tit{
	padding: 10px 2px;
	width: 1000px;
	border-bottom: 1px solid #e3e3e3;
}
.content_cn_tit li{
	margin-left: 7px;
	height: 30px;
	display: inline-block;
}
.picture,.picture_E{
	font-size: 20px;
}
.picture{
	color: black;
	font-weight: bold;
}
.picture_E{
	color: #777777;
}

.pre span,.next span{
	cursor: pointer;
	padding: 5px;
	border: 1px solid #e3e3e3;
}
.content_cn_picture li{
	float: left;
	margin-top: 16px;
	text-align: center;
	display: inline-block;
}
.pic_midd{
	margin-left: 49px;
}
.content_cn_picture li a{
	color: #666666;
	margin-top: 10px;
}
.change_a{
	text-decoration: none;
	animation: mypic 1s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
}
@-webkit-keyframes mypic{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0.4;
	}
}
.change_a1{
	text-decoration: none;
	animation: mypic1 1s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
}
@-webkit-keyframes mypic1{
	0%{
		opacity:0.4;
	}
	100%{
		opacity: 1;
	}

}

