.content{
	width: 1000px;
	margin: 0 auto;
}
.news_div{
	position: relative;
	width: 300px;
	height: 300px;
	float: left;
	margin-left: 28px;
	margin-top: 20px;
	overflow: hidden;
	display: block;
	box-shadow: 0px 0px 10px #006833;
}

.news_div_cn {
	text-align: center;
	width: 280px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	font-weight: bold;
	color: #666666;
	z-index: 10;
	opacity: 1;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	bottom: 10px;
	left: -280px;
	position: absolute;
}

.change_img{
	cursor: pointer;
	animation:  myChangeImg 1s;
	-webkit-animation: myChangeImg 1s;
	-moz-animation: myChangeImg 1s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	
}

@keyframes myChangeImg{
	0%{
		width: 300px;
		height: 300px;
		opacity: 1;
		left: 0px;
	}
	100%{
		margin-left: -15px;
		margin-top: -15px;
		width: 330px;
		height: 330px;
		opacity: 0.7;
	}
}
@-webkit-keyframes myChangeImg{
	0%{
		width: 300px;
		height: 300px;
		opacity: 1;
		left: 0px;
	}
	100%{
		margin-left: -15px;
		margin-top: -15px;
		width: 330px;
		height: 330px;
		opacity: 0.7;
	}
}
.change_img1{
	cursor: pointer;
	animation:  myChangeImg1 1s;
	-webkit-animation: myChangeImg1 1s;
	-moz-animation: myChangeImg1 1s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
}
@keyframes myChangeImg1{
	0%{
		margin-left: -15px;
		margin-top: -15px;
		width: 330px;
		height: 330px;
		opacity: 0.7;
	}
	100%{
		margin-left: 0px;
		margin-top: 0px;
		width: 300px;
		height: 300px;
		opacity: 1;
	}
}
@-webkit-keyframes myChangeImg1{
	0%{
		margin-left: -15px;
		margin-top: -15px;
		width: 330px;
		height: 330px;
		opacity: 0.7;
	}
	100%{
		margin-left: 0px;
		margin-top: 0px;
		width: 300px;
		height: 300px;
		opacity: 1;
	}
}
.change_a{
	cursor: pointer;
	animation:  myChangeA 1s;
	-webkit-animation: myChangeA 1s;
	-moz-animation: myChangeA 1s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
}
@keyframes myChangeA{
	0%{
		left: -280px;
		
	}
	100%{
		left: 10px;
	}
}
@-webkit-keyframes myChangeA{
	0%{
		left: -280px;
	}
	100%{
		left: 10px;
	}
}
.change_a1{
	cursor: pointer;
	animation:  myChangeA1 1s;
	-webkit-animation: myChangeA1 1s;
	-moz-animation: myChangeA1 1s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
}
@keyframes myChangeA1{
	0%{
		
		left: 10px;
	}
	100%{
		left: -280px;
	}
}
@-webkit-keyframes myChangeA1{
	0%{
		
		left: 10px;
	}
	100%{
		left: -280px;
	}
}